<!DOCTYPE html>
<html>
<head>
  <title>Rock Game</title>
  <link rel="stylesheet" type="text/css" href="/style.css"
</head>
<body>
<h1>
  Rock, scissors, paper game
</h1>
<h2>Welcome! Enter rock, paper, scissors or bomb in the address bar </h2>
<%= yield %>

</body>
</html>